In [ ]:
# Lab Customer Analysis Round 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
file1 = pd.read_csv('file1.csv')

In [4]:
file2 = pd.read_csv('file2.csv')

In [5]:
file3 = pd.read_csv('file3.csv')

In [6]:
file1.shape

(4008, 11)

In [7]:
file2.shape

(996, 11)

In [8]:
file3.shape

(7070, 11)

In [9]:
file1 = file1.rename(columns={ 'ST':'state','GENDER':'gender', 'Customer':'customer', 'Education':'education','Customer Lifetime Value':'customer_lifetime_value', 'Income':'income', 'Monthly Premium Auto':'monthly_premium_auto','Number of Open Complaints':'number_of_open_complaints', 'Policy Type':'policy_type', 'Vehicle Class':'vehicle_class','Total Claim Amount':'total_claim_amount'})

In [10]:
file2 = file2.rename(columns={ 'ST':'state','GENDER':'gender', 'Customer':'customer', 'Education':'education','Customer Lifetime Value':'customer_lifetime_value', 'Income':'income', 'Monthly Premium Auto':'monthly_premium_auto','Number of Open Complaints':'number_of_open_complaints', 'Policy Type':'policy_type', 'Vehicle Class':'vehicle_class','Total Claim Amount':'total_claim_amount'})

In [ ]:
file3 = file3.rename(columns={ 'State':'state','Gender':'gender', 'Customer':'customer', 'Education':'education','Customer Lifetime Value':'customer_lifetime_value', 'Income':'income', 'Monthly Premium Auto':'monthly_premium_auto','Number of Open Complaints':'number_of_open_complaints', 'Policy Type':'policy_type', 'Vehicle Class':'vehicle_class','Total Claim Amount':'total_claim_amount'})

In [12]:
file1.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [13]:
column_names = file1.columns

In [15]:
data = pd.DataFrame(columns=column_names)

In [16]:
data = pd.concat([data,file1,file2,file3], axis=0)

In [ ]:
# data._get_numeric_data()
# As this function takes to long to process (due to the size of the data frame)I commented out. But this is how it works

In [ ]:
# data.select_dtypes('object')
# as this function takes to long to process (due to the size of the data frame)I commented out. But this is how it works

In [17]:
copy_of_df = data.copy()

In [18]:
data = data.drop(['education', 'number_of_open_complaints'], axis =1)

In [19]:
filtered = data[data['income']> 0]

In [20]:
data.customer_lifetime_value = data.customer_lifetime_value.str.strip('%')

In [21]:
data['customer_lifetime_value'] =  pd.to_numeric(data['customer_lifetime_value'], errors='coerce')

In [22]:
data.dtypes

customer                      object
state                         object
gender                        object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
Customer                      object
State                         object
Customer Lifetime Value      float64
Education                     object
Gender                        object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints    float64
Policy Type                   object
Total Claim Amount           float64
Vehicle Class                 object
dtype: object

In [23]:
data['customer_lifetime_value'] = data['customer_lifetime_value']*100

In [24]:
data.head()

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QZ44356,Arizona,F,69795359.0,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AI49188,Nevada,F,128874317.0,48767.0,108.0,Personal Auto,Two-Door Car,566.472247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WW63253,California,M,76458618.0,0.0,106.0,Corporate Auto,SUV,529.881344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GA49547,Washington,M,53630765.0,36357.0,68.0,Personal Auto,Four-Door Car,17.269323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN